<% content_for :title, @survey.title %>

<h1><%= @survey.title %></h1>

<%= form_for @form, url: surveys_path do |f| %>
  <% @survey.questions.each do |question| %>
    <h3><%= question.text %></h3>
    <% if question.input_type == 'radio' %>
      <% question.options.each do |option| %>
        <div>
          <%= f.radio_button "answer#{question.id}", option.value, id: "survey_form#{@survey.id}_answer#{question.id}_#{option.id}" %>
          <%= f.label "answer#{question.id}_#{option.id}", option.value %>
          <% if option.other_input? %>
            <%= f.text_field("answer#{question.id}_other") %>
          <% end %>
        </div>
      <% end %>
    <% elsif question.input_type == 'checkbox' %>
      <div>
        <%= f.collection_check_boxes("answer#{question.id}", question.options, :value, :value, include_hidden: false) do |b| %>
          <%= b.check_box(id: "survey_form#{@survey.id}_answer#{question.id}_#{b.object.id}") %>
          <%= b.label(for: "survey_form#{@survey.id}_answer#{question.id}_#{b.object.id}") { b.text } %><br/>
        <% end %>
      </div>
    <% elsif question.input_type == 'text' %>
      <div>
        <%= f.text_field("answer#{question.id}") %>
      </div>
    <% elsif question.input_type == 'textarea' %>
      <div>
        <%= f.text_area("answer#{question.id}") %>
      </div>
    <% end %>
  <% end %>
  <%= f.submit %>
<% end %>
